.english {
  height: 80vh;
  width: 100%;
  margin-left: 100px;
}

.firstengldiv {
  background-color:yellow;}
  .secEngldiv{background-color:black ;

  }


h2{font-weight: 100;
  color: rgb(179, 173, 173);
  padding-top: px;
  margin: 10px;

  }
/* 
p{text-align: justify;
font-size: 25pt;
padding-top: 70px;
padding:70px;}

img{width:450px} */