.home {
    
    width: 86%;
    height: 80vh;
    background-color:#0ea0cc  ;
    display: flex;
    align-items: center;
    color:white;
    border-radius: 15px;
    margin-left: 170px;
    
    
}

.cleft{
    width: 50%;
}
.imgRight{
    width:145%;
    padding-right: 165px;
    padding-bottom: 85px;
}

h1 {
    font-size: 120px;
    padding-bottom: 10px !important;
    padding: 100px;
    font-weight: 100;

}

h3,
h6 {
    font-size: 30px;
    padding-left: 100px;
    padding-bottom: 40px;
}

button {
    margin-left: 4px;
    padding: 19px;
    width: 160px;
    color: black;
    font-size: 14pt;
    background-color:white;
    border: none;
    border-radius: 7px;
}

.btnhome{background-color:white;
margin-left: 100px;}