
.imgLogo {
  width: 120px;
 vertical-align:middle; }
 b{font-size: 35pt;
font-family:Georgia, 'Times New Roman', Times, serif;}


/* header img{
  margin: 8px;
  vertical-align:middle;
} */



 ol{


padding: 0px;
height: 58px;
background-color: 	#232527;
display: flex;
font-size: 10px;
flex-wrap: wrap;
align-content: center;
justify-content: space-evenly;

padding-left: 716px;
padding-right: 95px;
}
 



ol a{color: rgb(235, 230, 230);
text-decoration: none;}

.header {

display: flex;
justify-content:space-between;
padding-right: 10px;
font-size: 10pt;
height: 95px;


}

ul {
  
  display: flex;
  width: 457px;
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
  padding-right: 414px;
  font-weight:; 

   

}
  


ul a{
 text-decoration: none;
 font-size: 10pt;
  color:rgb(107, 105, 105) ;
  
}

a:hover {
  color: black;
  background-color: deepskyblue;
 
  }



  
.imgLogo {
  height: 100px;
  width: 140px;
 padding:0;
 padding-top: 2px;
 border-radius: 15px;



}


.nav-left ul {
  width: max-content;
  min-width: 400px;
}

.nav-left {
  display: flex;
}





p {
text-align: justify;
font-size: 25pt;
padding-top: 50px;
padding: 70px;
}
/* 

} */

  

  


/* .book{width: 200px;

}


.tel2{width: 50px;

}

.t3{width: 50px;

}

.insta4{width: 50px;

} */
/* 
a:hover {
  color: black;
  background-color: deepskyblue;
 
  }  */