@import url(navbar.css);
@import url(teste.css);
@import url(home.css);
@import url(english.css);
@import url(memory.css);
body {
  font-family: Arial, Helvetica, sans-serif;

  margin: -2px;
  list-style: none;
}

*{
  padding: 0px;
  margin: 0px;
  list-style: none;}
  
/* }
article{background-color: white; 
height: 35px;} *