.teste {
    
    min-width: auto;
    background-color:;
    
    
}



.secdiv {
    background-color:;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    
}


.pp {
    background-color:white;
    display: grid;
    height: 430px;
    width: 650px;
    border-radius: 10px;
    font-size: 26pt;
    color: #0b162e;
    margin-bottom: 1000px ;
    margin-left:70px ;
    padding-left: 21px;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 90;    margin-bottom: 1.5rem;

}




  

/* background-color:	#ED8B16; */

.p1 {
    background-color: white;
    display: grid;
    height: 430px;
    width: 650px;
    border-radius: 10px;
    font-size: 26pt;
    color: #0b162e;
    padding-left: 21px;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    justify-content: space-between; 
    font-weight: 90;
    margin-bottom: 1.5rem;


}

.p2 {
    background-color:white;
    display: grid;
    height: 430px;
    width: 650px;
    border-radius: 10px;
    font-size: 26pt;
    color:#0b162e;
    margin-bottom: 1.5rem;

    padding-left: 21px;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    justify-content: space-between; 
    font-weight: 90;

}




.cardtitle{display: flex;
    color:#0b162e;
    margin-top: -89px;
    padding-left: 1px;
    flex-direction: column;
font-family: Arial, Helvetica, sans-serif;
font-size: 35pt;
font-weight: 115;
}
    
    .card2{display: flex;
        color: #0b162e;
        margin-top: -89px;
        padding-left: 1px;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 35pt;
        font-weight: 115;
    }
    
    .card3{display: flex;
        color: #0b162e;
        margin-top: -89px;
        padding-left: 1px;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35pt;
        text-align: left;
        font-weight: 115;
    }

.buttn{
    width: 300px;
    height: 80px;
    color: white;
    background-color:#0ea0cc  ;

    font-size: 25pt;
display: flex;
justify-content: center;
margin-right: 105px;
 font-weight: 90;

}
    
.buttn:hover{ background-color: rgb(58, 54, 255)}

    