.teste {
    
    min-width: ;
    background-color:}
    
    

    .testeline{    margin-top: 100px;
        margin-left: -14px;
      font-weight: 90pt;
      color: rgb(179, 173, 173);}
      






.secdiv {
    background-color:;
    display: flex; 
    justify-content: space-around;
    flex-wrap: wrap;
    height: 500px;
    
}


.pp {
    background-color: ;
    display: grid;
    height: 263px;
    width: 315px;
    border-radius: 10px;
    font-size: 13pt;
    color: #0b162e;
    margin-bottom: 1000px;
    margin-left: 70px;
    padding-left: 21px;
    align-items: center;

}




  

/* background-color:	#ED8B16; */

.p1 {
    background-color: ;
    display: grid;
    height: 263px;
    width: 315px;
    border-radius: 10px;
    font-size: 13pt;
    color: #0b162e;
    margin-bottom: 1000px;
    margin-left: 70px;
    padding-left: 21px;
    align-items: center;



}

.p2 {
    background-color:;
    display: grid;
    height: 263px;
    width: 315px;
    border-radius: 10px;
    font-size: 13pt;
    color: #0b162e;
    margin-bottom: 1000px;
    margin-left: 70px;
    padding-left: 21px;
    align-items: center;
    

}




.cardtitle{display: flex;
    color:#0b162e;
    margin-top: -89px;
    padding-left: 1px;
    flex-direction: column;
font-family: Arial, Helvetica, sans-serif;
font-size: 20pt;
font-weight: 115;
}
    
    .card2{ display: flex;
        color:#0b162e;
        margin-top: -89px;
        padding-left: 1px;
        flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: 115;}
    
    .card3{display: flex;
        color:#0b162e;
        margin-top: -89px;
        padding-left: 1px;
        flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    font-weight: 115;
    }

.buttn{
    width: 180px;
    height: 49px;
    color: white;
    background-color: #0ea0cc;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    margin-right: 105px;
    /* font-weight: 90; */
    align-items: center;

}
    
.buttn:hover{ background-color: rgb(58, 54, 255)}

    