/* stylesheet.css */
/* Style rule for the body element
background-image:url(Mem.jpeg); */

body{
    background-color:rgb(45, 112, 112);
	background-repeat: repeat-y;
    margin:0 auto;
    }

    /* Style rule for the wrapper div / width faz o wrapper ficar largo
    padding cria espaco para o conteudo, i can also transform the border radious to any shape l want*/
#wrapper{
    width:1200px;
    margin:0 auto;
    background-color:white;
    padding: 12px; 
    border: solid 3px black;
    border-radius:  10px;
    box-shadow: 10px 10px 8px black;
 }
/* Style for h1 headings */
 h1{font-variant: small-caps;
    text-shadow:-2px -2px 2px #a48362;
  text-align:center;
 }
 
 /* Style for h2 headings */
 h2{font:italic small-caps bold 18px Arial Black, Gadget, Sans-Serif;
    text-shadow:-1px -1px 1px #a48362;}

 /* Style for paragraphs */
 P{line-height:1.5;
 }

.raised{width:400px;
margin: 10px;
float:left;
padding:10px;}


.down{width:300px;
    margin: 10px;
    float: right;
    padding:10px; 
}

.certificate{
    display: flex;
}

header{background-color: #2d3b71;}

.p1{text-align: justify
;}
.p2{ text-align: justify}

.top{width: 35px; ;}

table{margin:auto;}
th,td{border:solid 1px white; padding:2px 4px
}
/* Color the background of every other table row */
tr:nth-child(odd){
   background-color:#cef;}
   /* Highlight table row on hover */
tr:hover{
   background-color:rgb(0, 183, 255);
   cursor:pointer;
}

/* Give table header cells a gray background */
th {
   background-color: rosybrown;
}












/*Styles for links*/

/*Unvisited links*/
a:link{
    color:white;
    text-decoration: none;
 }
 
 /*Visited links*/
 a:visited{
    color:red;
    text-decoration:none;
 }
 
 /*Mouse pointer hovering over link*/
 a:hover{
    color:yellow;
    background-color:black;
    text-decoration: underline;
 }
 
 /*Mouse pointer on link and mouse button down*/
 a:active{
    background-color:silver;
    text-decoration: none;
 }
/* table{margin:1em auto;
/* Center the table, and put one blank line above and below 
} */



